@import '../../../styles/settings/_tt.variables.scss';
@import '../../../styles/settings/_typography.scss';

.tt-avatar {
  @include tt-text-title-2;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;

  img,
  svg,
  .v-icon,
  .v-image,
  .v-responsive__content {
    border-radius: inherit;
    display: inline-flex;
    height: inherit;
    width: inherit;
  }

  .v-icon {
    font-size: 20px;
  }
}

.tt-avatar.x-large {
  @include tt-text-headline-2;
  width: 96px;
  height: 96px;

  .v-icon {
    font-size: 32px;
  }
}

.tt-avatar.large {
  @include tt-text-title-1;
  width: 72px;
  height: 72px;

  .v-icon {
    font-size: 28px;
  }
}

.tt-avatar.small {
  @include tt-text-body-2;
  font-weight: 500;
  width: 36px;
  height: 36px;

  .v-icon {
    font-size: 16px;
  }
}

.tt-avatar.x-small {
  @include tt-text-footnote;
  width: 24px;
  height: 24px;

  .v-icon {
    font-size: 12px;
  }
}

.v-application .tt-avatar.rounded-circle {
  border: 2px solid #FFFFFF !important;
}
