$tt-font-size: () !default;
$tt-font-size: map-deep-merge(
  $tt-font-size,
  (
    '3xl': 3rem,
    '2xl': 2.5rem,
    'xl': 2rem,
    'l': 1.5rem,
    'm': 1.25rem,
    'xm': 1.125rem,
    'base': 1rem,
    's': 0.875rem,
    'xs': 0.75rem,
    '2xs': 0.625rem,
  )
);

$tt-font-weight: () !default;
$tt-font-weight: map-deep-merge(
  $tt-font-weight,
  (
    'bold': 700,
    'medium': 500,
    'regular': 400,
  )
);

$tt-font-line-height: () !default;
$tt-font-line-height: map-deep-merge(
  $tt-font-line-height,
  (
    'tiny': 100%,
    'small': 120%,
    'default': 140%,
    'large': 160%,
  )
);

$tt-font-letter-spacing: () !default;
$tt-font-letter-spacing: map-deep-merge(
  $tt-font-letter-spacing,
  (
    'extra-small': -0.8px,
    'small': -0.6px,
    'medium': -0.3px,
    'large': 0.4px,
    'extra-large': 0.5px,
  )
);

$tt-typography: () !default;
$tt-typography: map-deep-merge(
  $tt-typography,
  (
    'display': (
      'size': map-deep-get($tt-font-size, '3xl'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'extra-small'),
      'weight': map-deep-get($tt-font-weight, 'bold'),
      'line-height': map-deep-get($tt-font-line-height, 'small'),
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'headline-1': (
      'size': map-deep-get($tt-font-size, '2xl'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'small'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'small'),
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'headline-2': (
      'size': map-deep-get($tt-font-size, 'xl'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'small'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'small'),
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'title-1': (
      'size': map-deep-get($tt-font-size, 'l'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'medium'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'small'),
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'title-2': (
      'size': map-deep-get($tt-font-size, 'm'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'medium'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'small'),
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'subtitle': (
      'size': map-deep-get($tt-font-size, 'xm'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'medium'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'small'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'body-1': (
      'size': map-deep-get($tt-font-size, 'base'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'large'),
      'weight': map-deep-get($tt-font-weight, 'regular'),
      'line-height': map-deep-get($tt-font-line-height, 'default'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'body-2': (
      'size': map-deep-get($tt-font-size, 's'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'large'),
      'weight': map-deep-get($tt-font-weight, 'regular'),
      'line-height': map-deep-get($tt-font-line-height, 'default'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'caption': (
      'size': map-deep-get($tt-font-size, 'xs'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'large'),
      'weight': map-deep-get($tt-font-weight, 'regular'),
      'line-height': map-deep-get($tt-font-line-height, 'default'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'footnote': (
      'size': map-deep-get($tt-font-size, '2xs'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'extra-large'),
      'weight': map-deep-get($tt-font-weight, 'regular'),
      'line-height': map-deep-get($tt-font-line-height, 'default'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'button-1': (
      'size': map-deep-get($tt-font-size, 'base'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'extra-large'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'tiny'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'button-2': (
      'size': map-deep-get($tt-font-size, 's'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'extra-large'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'default'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'button-3': (
      'size': map-deep-get($tt-font-size, 'xs'),
      'letter-spacing': map-deep-get($tt-font-letter-spacing, 'extra-large'),
      'weight': map-deep-get($tt-font-weight, 'medium'),
      'line-height': map-deep-get($tt-font-line-height, 'tiny'),
      'font-family': $body-font-family,
      'text-transform': false
    ),
  ),
);
