/*
 * IMPORTANT: сменил цвета здесь, смени и в `themes/tt.colors.js`
 *
 * @see: https://burning-heart.atlassian.net/wiki/spaces/front/pages/1616446310
 * @see: https://www.figma.com/file/8uTFijimkGLRPoLQMnUuyL/Main-2?node-id=3995%3A296
 */

 $tt-light-mono-100: #0B1218; /*  Light  Mono  100  */


 $tt-light-mono-64: #63676B;  /*  Light  Mono  64   */
 
 $tt-light-mono-46: #8F9295;  /*  Light  Mono  46   */
 
 $tt-light-mono-24: #C4C6C8;  /*  Light  Mono  24   */
 
 $tt-light-mono-16: #D8D9DA;  /*  Light  Mono  16   */
 
 $tt-light-mono-8: #EBECED;  /*  Light  Mono  8    */
 
 $tt-light-mono-4: #F5F6F6;  /*  Light  Mono  4    */
 
 $tt-light-mono-0: #FFFFFF;  /*  Light  Mono  0    */

 
 $tt-dark-mono-100: #FFFFFF;  /*  Dark   Mono  100  */
 
 $tt-dark-mono-96:  #F5F6F6;  /*  Dark   Mono  96   */
 
 $tt-dark-mono-76: #C4C6C8;  /*  Dark   Mono  76   */
 
 $tt-dark-mono-64: #A7AAAC;  /*  Dark   Mono  64   */
 
 $tt-dark-mono-46: #7B7F82;  /*  Dark   Mono  46   */
 
 $tt-dark-mono-24: #464B4F;  /*  Dark   Mono  24   */
 
 $tt-dark-mono-16: #32383D;  /*  Dark   Mono  16   */
 
 $tt-dark-mono-8: #1F252A;  /*  Dark   Mono  8    */
 
 $tt-dark-mono-4: #151B21;  /*  Dark   Mono  4    */
 
 $tt-dark-mono-0:  #0B1218;  /*  Dark   Mono  0    */

 
 
