@import '~vuetify/src/styles/styles.sass';
@import 'settings/tt.variables';
@import 'settings/tt.colors';
/*
 * IMPORTANT: настройки тем, порядок важен (так сказано в исходниках vuetify :)) !!!
 */
@import 'settings/tt.light.theme';
@import 'settings/tt.dark.theme';
@import 'settings/tt.theme';

/* IMPORTANT: Переменные компонентов */
@import '../components/TTAutocomplete/_variables.scss';
@import '../components/TTBreadcrumbs/_variables.scss';
@import '../components/TTBtn/_variables.scss';
@import '../components/TTDataTable/_variables.scss';
@import '../components/TTInput/_variables.scss';
@import '../components/TTTooltip/_variables.scss';
@import '../components/TTTextField/_variables.scss';
@import '../components/TTTextarea/_variables.scss';
@import '../components/TTTSelect/_variables.scss';
@import '../components/TTMenu/_variables.scss';
@import '../components/TTModuleMenu/_variables.scss';
@import '../components/TTChip/_variables.scss';
@import '../components/TTChipGroup/_variables.scss';

/**
 * TODO: при переезде на vuetify версии >=2.6 удалить эту строку, потому что она будет не нужна
 * @see https://github.com/vuetifyjs/vuetify/releases/tag/v2.6.0
 * @see https://github.com/vuetifyjs/vuetify/blob/1623e6cd9f8a324be7ee409ece87c30195656876/packages/vuetify/src/styles/settings/_variables.scss#L25
 */
$spacers-steps: 16 !default;

/**
 * @see: https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
$grid-breakpoints: () !default;
$grid-breakpoints: map-deep-merge(
    $grid-breakpoints,
    (
      'xs': 0,
      'sm': 600px,
      'md': 1264px,
      'lg': 1440px,
      'xl': 1920px - 16px
    )
);

$container-max-widths: () !default;
$container-max-widths: map-deep-merge(
    $container-max-widths,
    (
      'md': map-get($grid-breakpoints, 'lg'),
      'lg': map-get($grid-breakpoints, 'xl'),
      'xl': map-get($grid-breakpoints, 'xl')
    ),
);

$line-height-root: 140% !default;

$textarea-min-height: 64px;
