/*
 * IMPORTANT: сменил цвета здесь, смени и в `themes/tt.colors.js`
 *
 * @see: https://burning-heart.atlassian.net/wiki/spaces/front/pages/1616446310
 * @see: https://www.figma.com/file/8uTFijimkGLRPoLQMnUuyL/Main-2?node-id=3995%3A296
 */

$tt-light-mono-100: () !default;
$tt-light-mono-100: map-deep-merge(
  (
    'base': #0B1218  /*  Light  Mono  100  */
  ),
  $tt-light-mono-100
);

$tt-light-mono-64: () !default;
$tt-light-mono-64: map-deep-merge(
  (
    'base': #63676B  /*  Light  Mono  64   */
  ),
  $tt-light-mono-64
);

$tt-light-mono-46: () !default;
$tt-light-mono-46: map-deep-merge(
  (
    'base': #8F9295  /*  Light  Mono  46   */
  ),
  $tt-light-mono-46
);

$tt-light-mono-24: () !default;
$tt-light-mono-24: map-deep-merge(
  (
    'base': #C4C6C8  /*  Light  Mono  24   */
  ),
  $tt-light-mono-24
);

$tt-light-mono-16: () !default;
$tt-light-mono-16: map-deep-merge(
  (
    'base': #D8D9DA  /*  Light  Mono  16   */
  ),
  $tt-light-mono-16
);

$tt-light-mono-8: () !default;
$tt-light-mono-8: map-deep-merge(
  (
    'base': #EBECED  /*  Light  Mono  8    */
  ),
  $tt-light-mono-8
);

$tt-light-mono-4: () !default;
$tt-light-mono-4: map-deep-merge(
  (
    'base': #F5F6F6  /*  Light  Mono  4    */
  ),
  $tt-light-mono-4
);

$tt-light-mono-0: () !default;
$tt-light-mono-0: map-deep-merge(
  (
    'base': #FFFFFF  /*  Light  Mono  0    */
  ),
  $tt-light-mono-0
);

$tt-light-blue: () !default;
$tt-light-blue: map-deep-merge(
  (
    'base':     #00A0F2,  /*  Light  Blue  Base     */
    'vibrant':  #00B8FF,  /*  Light  Blue  Vibrant  */
    'reduced':  #6AD9FF,  /*  Light  Blue  Reduced  */
    'pale':     #D9F5FF,  /*  Light  Blue  Pale     */
  ),
  $tt-light-blue
);

$tt-light-red: () !default;
$tt-light-red: map-deep-merge(
  (
    'base':     #EF323F,  /*  Light  Red  Base     */
    'vibrant':  #FF2B3E,  /*  Light  Red  Vibrant  */
    'reduced':  #FF4754,  /*  Light  Red  Reduced  */
    'pale':     #FFE2E2,  /*  Light  Red  Pale     */
  ),
  $tt-light-red
);

$tt-light-green: () !default;
$tt-light-green: map-deep-merge(
  (
    'base':     #00A345,  /*  Light  Green  Base     */
    'vibrant':  #00D358,  /*  Light  Green  Vibrant  */
    'reduced':  #00F170,  /*  Light  Green  Reduced  */
    'pale':     #D4F8E7,  /*  Light  Green  Pale     */
  ),
  $tt-light-green
);

$tt-light-yellow: () !default;
$tt-light-yellow: map-deep-merge(
  (
    'base':     #FFB500,  /*  Light  Yellow  Base     */
    'vibrant':  #FFC700,  /*  Light  Yellow  Vibrant  */
    'reduced':  #FFD340,  /*  Light  Yellow  Reduced  */
    'pale':     #FFF6DC,  /*  Light  Yellow  Pale     */
  ),
  $tt-light-yellow
);

$tt-light-orange: () !default;
$tt-light-orange: map-deep-merge(
  (
    'base':     #FF3E00,  /*  Light  Orange  Base     */
    'vibrant':  #FF6E37,  /*  Light  Orange  Vibrant  */
    'reduced':  #FF9974,  /*  Light  Orange  Reduced  */
    'pale':     #FFEAE3,  /*  Light  Orange  Pale     */
  ),
  $tt-light-orange
);

$tt-light-purple: () !default;
$tt-light-purple: map-deep-merge(
  (
    'base':     #601EF3,  /*  Light  Purple  Base     */
    'vibrant':  #8455F8,  /*  Light  Purple  Vibrant  */
    'reduced':  #A886FB,  /*  Light  Purple  Reduced  */
    'pale':     #EDE5FE,  /*  Light  Purple  Pale     */
  ),
  $tt-light-purple
);

$tt-light-pink: () !default;
$tt-light-pink: map-deep-merge(
  (
    'base':     #FF00D7,  /*  Light  Pink  Base     */
    'vibrant':  #FF26E1,  /*  Light  Pink  Vibrant  */
    'reduced':  #FF70EA,  /*  Light  Pink  Reduced  */
    'pale':     #FFE2FC,  /*  Light  Pink  Pale     */
  ),
  $tt-light-pink
);

$tt-dark-mono-100: () !default;
$tt-dark-mono-100: map-deep-merge(
  (
    'base': #FFFFFF  /*  Dark   Mono  100  */
  ),
  $tt-dark-mono-100
);

$tt-dark-mono-96: () !default;
$tt-dark-mono-96: map-deep-merge(
  (
    'base': #F5F6F6  /*  Dark   Mono  96   */
  ),
  $tt-dark-mono-96
);

$tt-dark-mono-76: () !default;
$tt-dark-mono-76: map-deep-merge(
  (
    'base': #C4C6C8  /*  Dark   Mono  76   */
  ),
  $tt-dark-mono-76
);

$tt-dark-mono-64: () !default;
$tt-dark-mono-64: map-deep-merge(
  (
    'base': #A7AAAC  /*  Dark   Mono  64   */
  ),
  $tt-dark-mono-64
);

$tt-dark-mono-46: () !default;
$tt-dark-mono-46: map-deep-merge(
  (
    'base': #7B7F82  /*  Dark   Mono  46   */
  ),
  $tt-dark-mono-46
);

$tt-dark-mono-24: () !default;
$tt-dark-mono-24: map-deep-merge(
  (
    'base': #464B4F  /*  Dark   Mono  24   */
  ),
  $tt-dark-mono-24
);

$tt-dark-mono-16: () !default;
$tt-dark-mono-16: map-deep-merge(
  (
    'base': #32383D  /*  Dark   Mono  16   */
  ),
  $tt-dark-mono-16
);

$tt-dark-mono-8: () !default;
$tt-dark-mono-8: map-deep-merge(
  (
    'base': #1F252A  /*  Dark   Mono  8    */
  ),
  $tt-dark-mono-8
);

$tt-dark-mono-4: () !default;
$tt-dark-mono-4: map-deep-merge(
  (
    'base': #151B21  /*  Dark   Mono  4    */
  ),
  $tt-dark-mono-4
);

$tt-dark-mono-0: () !default;
$tt-dark-mono-0: map-deep-merge(
  (
    'base': #0B1218  /*  Dark   Mono  0    */
  ),
  $tt-dark-mono-0
);

$tt-dark-blue: () !default;
$tt-dark-blue: map-deep-merge(
  (
    'base':     #00A0F2,  /*  Dark  Blue  Base     */
    'vibrant':  #00B8FF,  /*  Dark  Blue  Vibrant  */
    'reduced':  #6AD9FF,  /*  Dark  Blue  Reduced  */
    'pale':     #D9F5FF,  /*  Dark  Blue  Pale     */
  ),
  $tt-dark-blue
);

$tt-dark-red: () !default;
$tt-dark-red: map-deep-merge(
  (
    'base':     #EF323F,  /*  Dark  Red  Base     */
    'vibrant':  #FF2B3E,  /*  Dark  Red  Vibrant  */
    'reduced':  #FF4754,  /*  Dark  Red  Reduced  */
    'pale':     #FFE2E2,  /*  Dark  Red  Pale     */
  ),
  $tt-dark-red
);

$tt-dark-green: () !default;
$tt-dark-green: map-deep-merge(
  (
    'base':     #00A345,  /*  Dark  Green  Base     */
    'vibrant':  #00D358,  /*  Dark  Green  Vibrant  */
    'reduced':  #00F170,  /*  Dark  Green  Reduced  */
    'pale':     #D4F8E7,  /*  Dark  Green  Pale     */
  ),
  $tt-light-green
);

$tt-dark-yellow: () !default;
$tt-dark-yellow: map-deep-merge(
  (
    'base':     #FFB500,  /*  Dark  Yellow  Base     */
    'vibrant':  #FFC700,  /*  Dark  Yellow  Vibrant  */
    'reduced':  #FFD340,  /*  Dark  Yellow  Reduced  */
    'pale':     #FFF6DC,  /*  Dark  Yellow  Pale     */
  ),
  $tt-dark-yellow
);

$tt-dark-orange: () !default;
$tt-dark-orange: map-deep-merge(
  (
    'base':     #FF3E00,  /*  Dark  Orange  Base     */
    'vibrant':  #FF6E37,  /*  Dark  Orange  Vibrant  */
    'reduced':  #FF9974,  /*  Dark  Orange  Reduced  */
    'pale':     #FFEAE3,  /*  Dark  Orange  Pale     */
  ),
  $tt-dark-orange
);

$tt-dark-purple: () !default;
$tt-dark-purple: map-deep-merge(
  (
    'base':     #601EF3,  /*  Dark  Purple  Base     */
    'vibrant':  #8455F8,  /*  Dark  Purple  Vibrant  */
    'reduced':  #A886FB,  /*  Dark  Purple  Reduced  */
    'pale':     #EDE5FE,  /*  Dark  Purple  Pale     */
  ),
  $tt-dark-purple
);

$tt-dark-pink: () !default;
$tt-dark-pink: map-deep-merge(
  (
    'base':     #FF00D7,  /*  Dark  Pink  Base     */
    'vibrant':  #FF26E1,  /*  Dark  Pink  Vibrant  */
    'reduced':  #FF70EA,  /*  Dark  Pink  Reduced  */
    'pale':     #FFE2FC,  /*  Dark  Pink  Pale     */
  ),
  $tt-dark-pink
);

/*
 * TODO: START DELETE
 *
 * @deprecated: Не используем!!!
 */
$tt-blue: () !default;
$tt-blue: map-deep-merge(
  (
    'base':       #00A0F2,  /*  Blue  /  Dark   Blue   */
    'lighten-1':  #00B8FF,  /*  Blue  /  Blue   */
    'lighten-2':  #6AD9FF,  /*  Blue  /  Light  Blue   */
    'lighten-3':  #D9F5FF,  /*  Blue  /  Extra  Light  Blue  */
  ),
  $tt-blue
);

$tt-red: () !default;
$tt-red: map-deep-merge(
  (
    'base':       #EF323F,  /*  Red  /  Dark   Red    */
    'lighten-1':  #FF2B3E,  /*  Red  /  Red    */
    'lighten-2':  #FF4754,  /*  Red  /  Light  Red    */
    'lighten-3':  #FFE2E2,  /*  Red  /  Extra  Light  Red  */
  ),
  $tt-red
);

$tt-green: () !default;
$tt-green: map-deep-merge(
  (
    'base':       #00A345,  /*  Green  /  Dark   Green  */
    'lighten-1':  #00D358,  /*  Green  /  Green  */
    'lighten-2':  #00F170,  /*  Green  /  Light  Green  */
    'lighten-3':  #D4F8E7,  /*  Green  /  Extra  Light  Green  */
  ),
  $tt-green
);

$tt-yellow: () !default;
$tt-yellow: map-deep-merge(
  (
    'base':       #FFB500,  /*  Yellow  /  Dark    Yellow  */
    'lighten-1':  #FFC700,  /*  Yellow  /  Yellow  */
    'lighten-2':  #FFD340,  /*  Yellow  /  Light   Yellow  */
    'lighten-3':  #FFF6DC,  /*  Yellow  /  Extra   Light   Yellow  */
  ),
  $tt-yellow
);

$tt-orange: () !default;
$tt-orange: map-deep-merge(
  (
    'base':       #FF3E00,  /*  Orange  /  Dark    Orange  */
    'lighten-1':  #FF6E37,  /*  Orange  /  Orange  */
    'lighten-2':  #FF9974,  /*  Orange  /  Light   Orange  */
    'lighten-3':  #FFEAE3,  /*  Orange  /  Extra   Light   Orange  */
  ),
  $tt-orange
);

$tt-purple: () !default;
$tt-purple: map-deep-merge(
  (
    'base':       #601EF3,  /*  Purple  /  Dark    Purple  */
    'lighten-1':  #8455F8,  /*  Purple  /  Purple  */
    'lighten-2':  #A886FB,  /*  Purple  /  Light   Purple  */
    'lighten-3':  #EDE5FE,  /*  Purple  /  Extra   Light   Purple  */
  ),
  $tt-purple
);

$tt-pink: () !default;
$tt-pink: map-deep-merge(
  (
    'base':       #FF00D7,  /*  Pink  /  Dark   Pink   */
    'lighten-1':  #FF26E1,  /*  Pink  /  Pink   */
    'lighten-2':  #FF70EA,  /*  Pink  /  Light  Pink   */
    'lighten-3':  #FFE2FC,  /*  Pink  /  Extra  Light  Pink  */
  ),
  $tt-pink
);

$tt-black: () !default;
$tt-black: map-deep-merge(
  (
    'base':       #0B1218,  /*  Black  /  Black  100  */
    'lighten-1':  #63676B,  /*  Black  /  Black  64   */
    'lighten-2':  #8F9295,  /*  Black  /  Black  46   */
    'lighten-3':  #C4C6C8,  /*  Black  /  Black  24   */
    'lighten-4':  #D8D9DA,  /*  Black  /  Black  16   */
    'lighten-5':  #EBECED,  /*  Black  /  Black  8    */
    'lighten-6':  #F5F6F6,  /*  Black  /  Black  4    */
    'lighten-7':  #FFFFFF,  /*  White  /  White  100  */
  ),
  $tt-black
);

$tt-white: () !default;
$tt-white: map-deep-merge(
  (
    'base':      #FFFFFF,  /*  White  /  White  100  */
    'darken-1':  #F5F6F6,  /*  Black  /  Black  4    */
    'darken-2':  #EBECED,  /*  Black  /  Black  8    */
    'darken-3':  #D8D9DA,  /*  Black  /  Black  16   */
    'darken-4':  #C4C6C8,  /*  Black  /  Black  24   */
    'darken-5':  #8F9295,  /*  Black  /  Black  46   */
    'darken-6':  #63676B,  /*  Black  /  Black  64   */
    'darken-7':  #0B1218,  /*  Black  /  Black  100  */
  ),
  $tt-white
);
/*
 * TODO: END DELETE
 */

$colors: map-deep-merge(
  $colors,
  (
    'tt-light-mono-100':  $tt-light-mono-100,
    'tt-light-mono-64':   $tt-light-mono-64,
    'tt-light-mono-46':   $tt-light-mono-46,
    'tt-light-mono-24':   $tt-light-mono-24,
    'tt-light-mono-16':   $tt-light-mono-16,
    'tt-light-mono-8':    $tt-light-mono-8,
    'tt-light-mono-4':    $tt-light-mono-4,
    'tt-light-mono-0':    $tt-light-mono-0,

    'tt-light-red':       $tt-light-red,
    'tt-light-orange':    $tt-light-orange,
    'tt-light-yellow':    $tt-light-yellow,
    'tt-light-green':     $tt-light-green,
    'tt-light-blue':      $tt-light-blue,
    'tt-light-purple':    $tt-light-purple,
    'tt-light-pink':      $tt-light-pink,

    'tt-dark-mono-100':   $tt-dark-mono-100,
    'tt-dark-mono-96':    $tt-dark-mono-96,
    'tt-dark-mono-76':    $tt-dark-mono-76,
    'tt-dark-mono-64':    $tt-dark-mono-64,
    'tt-dark-mono-46':    $tt-dark-mono-46,
    'tt-dark-mono-24':    $tt-dark-mono-24,
    'tt-dark-mono-16':    $tt-dark-mono-16,
    'tt-dark-mono-8':     $tt-dark-mono-8,
    'tt-dark-mono-4':     $tt-dark-mono-4,
    'tt-dark-mono-0':     $tt-dark-mono-0,

    'tt-dark-red':        $tt-dark-red,
    'tt-dark-orange':     $tt-dark-orange,
    'tt-dark-yellow':     $tt-dark-yellow,
    'tt-dark-green':      $tt-dark-green,
    'tt-dark-blue':       $tt-dark-blue,
    'tt-dark-purple':     $tt-dark-purple,
    'tt-dark-pink':       $tt-dark-pink,

    /*
     * TODO: START DELETE
     *
     * @deprecated: Не используем!!!
     */
    'tt-red':     $tt-red,
    'tt-orange':  $tt-orange,
    'tt-yellow':  $tt-yellow,
    'tt-green':   $tt-green,
    'tt-blue':    $tt-blue,
    'tt-purple':  $tt-purple,
    'tt-pink':    $tt-pink,
    'tt-black':   $tt-black,
    'tt-white':   $tt-white,
    /*
     * TODO: END DELETE
     */
  ),
);
