@mixin tt-text-display {
  font-size: map-deep-get($tt-typography, 'display', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'display', 'weight');
  line-height: map-deep-get($tt-typography, 'display', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'display', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'display', 'font-family') !important;
}

@mixin tt-text-headline-1 {
  font-size: map-deep-get($tt-typography, 'headline-1', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'headline-1', 'weight');
  line-height: map-deep-get($tt-typography, 'headline-1', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'headline-1', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'headline-1', 'font-family') !important;
}

@mixin tt-text-headline-2 {
  font-size: map-deep-get($tt-typography, 'headline-2', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'headline-2', 'weight');
  line-height: map-deep-get($tt-typography, 'headline-2', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'headline-2', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'headline-2', 'font-family') !important;
}

@mixin tt-text-title-1 {
  font-size: map-deep-get($tt-typography, 'title-1', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'title-1', 'weight');
  line-height: map-deep-get($tt-typography, 'title-1', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'title-1', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'title-1', 'font-family') !important;
}

@mixin tt-text-title-2 {
  font-size: map-deep-get($tt-typography, 'title-2', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'title-2', 'weight');
  line-height: map-deep-get($tt-typography, 'title-2', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'title-2', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'title-2', 'font-family') !important;
}

@mixin tt-text-subtitle {
  font-size: map-deep-get($tt-typography, 'subtitle', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'subtitle', 'weight');
  line-height: map-deep-get($tt-typography, 'subtitle', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'subtitle', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'subtitle', 'font-family') !important;
}

@mixin tt-text-body-1 {
  font-size: map-deep-get($tt-typography, 'body-1', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'body-1', 'weight');
  line-height: map-deep-get($tt-typography, 'body-1', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'body-1', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'body-1', 'font-family') !important;
}

@mixin tt-text-body-2 {
  font-size: map-deep-get($tt-typography, 'body-2', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'body-2', 'weight');
  line-height: map-deep-get($tt-typography, 'body-2', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'body-2', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'body-2', 'font-family') !important;
}

@mixin tt-text-caption {
  font-size: map-deep-get($tt-typography, 'caption', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'caption', 'weight');
  line-height: map-deep-get($tt-typography, 'caption', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'caption', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'caption', 'font-family') !important;
}

@mixin tt-text-footnote {
  font-size: map-deep-get($tt-typography, 'footnote', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'footnote', 'weight');
  line-height: map-deep-get($tt-typography, 'footnote', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'footnote', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'footnote', 'font-family') !important;
}

@mixin tt-text-button-1 {
  font-size: map-deep-get($tt-typography, 'button-1', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'button-1', 'weight');
  line-height: map-deep-get($tt-typography, 'button-1', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'button-1', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'button-1', 'font-family') !important;
}

@mixin tt-text-button-2 {
  font-size: map-deep-get($tt-typography, 'button-2', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'button-2', 'weight');
  line-height: map-deep-get($tt-typography, 'button-2', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'button-2', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'button-2', 'font-family') !important;
}

@mixin tt-text-button-3 {
  font-size: map-deep-get($tt-typography, 'button-3', 'size') !important;
  font-weight: map-deep-get($tt-typography, 'button-3', 'weight');
  line-height: map-deep-get($tt-typography, 'button-3', 'line-height');
  letter-spacing: map-deep-get($tt-typography, 'button-3', 'letter-spacing') !important;
  font-family: map-deep-get($tt-typography, 'button-3', 'font-family') !important;
}
